<div class="container">
  <h1>Personas</h1>

  <p>Ejemplo de API REST usando ExpressJS.</p>

  <app-backend-base-url></app-backend-base-url>

  <ul>
    <li>
      <a href="#holamundo">Hola Mundo</a>
      <ul>
        <li> Saludar a todos </li>
      </ul>
    </li>

    <li>
      <a href="#hola">Hola</a>
      <ul>
        <li> Saludar a alguien </li>
      </ul>
    </li>

    <li>
      <a href="#personas">Personas</a>
      <ul>
        <li> Lista de personas </li>
      </ul>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
